html {
	height: 97%;
}

body {
	background-color: #80FFFF;
	height: 95%;
}

#logo {
	background-color: #99CDFD;
	width: 100%;
	min-width: 800px;
	position: static;
	top: 0px;
	left: 0px;
	padding-left: 0px;
	border-left: 0px;
	margin-left: 0px;
	padding-top: 0px;
	border-top: 0px;
	margin-top: 0px;
	font-weight: bold;
	font-size: 1.5em;
	color: yellow;
	text-align: center;
}

#ww {
	background-color: #FF0080;
	width: 100%;
	min-width: 800px;
	height: 95%;
	position: static;
	overflow: hidden;
}

#cont {
	background-color: #FFFFFF;
	height: 100%;
	color: black;
	text-indent: 5px;
	position: relative;
	padding-left: 2px;
	padding-right: 2px;
	overflow: auto;
}

#sidemenu { /* 
  Menu area*/

	background-color: #0000FF;
	height: 100%;
	float: left;
	width: 150px;
	overflow-x: visible;
	overflow-y: visible;
	position: relative;
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}

.myMenu {
	font-size: 12px;
	font-family: "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
}

.myMenuItem {
	font-size: 10px;
	font-family: "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
}

.ui-menu {width: 150px; }
.uimenu .uimenu {width: 400px;}

